[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = "*"
pydantic = "*"
aiofiles = "*"
typer = {extras = ["all"], version = "*"}

[dev-packages]
pip = "*"
install = "*"
polyfactory = "*"
pytest-asyncio = "*"
pytest-mock = "*"
pytest-httpx = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
