[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
pytest-cov = "*"
httpx = "*"
pytest-asyncio = "*"
pytest-mock = "*"
pytest-httpx = "*"

[dev-packages]

[requires]
python_version = "3.10"
